extends ../../mixins/_layout

include ../../mixins/mixins

mixin image_list()
  - var img_list = ['1', '2', '3', '4', '5', '7', '8', '9', '10', '6']

  for item in img_list

    - var img_url = 'img/' + item + '.jpg'
    - var thumb_img_url = 'img/thumb/' + item + '.jpg'

    a(href=img_url, data-lightbox="roadtrip", style='margin-right:5px;margin-bottom:5px;').thumb_image
      img(src=thumb_img_url, style="max-width:100%")

block content
  p
    | At Showcase Lawn Maintenance &#038; Landscaping, we know how important the appearance of your
    | property is and believe that a professionally landscaped lawn adds value and enhances the beauty of
    | your home or business. Because the outside environment is an extension of your property, our goal is
    | to integrate your lifestyle with the style of your home or business. Our expertise extends beyond
    | landscape design/installation, irrigation, outdoor living areas, outdoor lighting, and lawn maintenance.
    | We strive to exceed our client’s expectations by creating an environment that is worth coming home to.

  .row
    +image_list