extends ../../mixins/_layout

include ../../mixins/mixins

block content
  h2
    | Outdoor Living Areas

  p
    | Showcase understands that outdoor living areas are an important extension of your home’s
    | living space and add much to the value of your property. We can design the perfect outdoor living
    | spaces to meet your needs and complement your home.

  p
    img(src='/images/outdoorliving1.jpg', alt="Walkways and Courtyards", title="Walkways and Courtyards", width="213", height="147").alignleft.size-full.wp-image-195
    img(src='/images/outdoorliving2.jpg', alt="Fireplaces", title="Fireplaces", width="213", height="147").alignleft.size-full.wp-image-195
    img(src='/images/outdoorliving3.jpg', alt="Patios and Pools", title="Patios and Pools", width="213", height="147").alignleft.size-full.wp-image-195
    img(src='/images/outdoorliving4.jpg', alt="Amazing Outdoor Fireplaces", title="Amazing Outdoor Fireplaces", width="213", height="147").alignleft.size-full.wp-image-195

  +call_for_a_free_estimate