extends ../../mixins/_layout

include ../../mixins/mixins

block content

  h2
    | Residential & Commercial Services

  p
    | Get a free estimate. We promise to offer competitive
    | pricing along with providing a safe and professional
    | environment.

    ul
      li Tree Pruning
      li Tree Trimming
      li Tree Removal
      li Safety Pruning
      li Stump Grinding & Removal
      li Lot Clearing
      li Debris Removal
      li Insurance Appraisals
      li And Much More....

  p
    | We are a licensed and insured company.

  p
    | We Service the Upstate of South Carolina.

  +call_for_a_free_estimate