extends ../../mixins/_layout

include ../../mixins/mixins

block content
  h2
    | About Us

  p
    | Our number one goal is to exceed the customer’s expectations. We cater to our customers by giving
    | them a customized plan that meets their landscaping and grounds maintenance needs.

  p
    | We are a full-service landscape and lawn maintenance contractor with experience in commercial and
    | residential lawn services. Established in 2003, Showcase is managed by an owner that has over 20
    | years of experience in commercial/residential services.

  p
    | Our staff consists of several qualified employees that will complete the job successfully and
    | professionally. We also provide our employees a safe environment to work in and we adhere to all
    | OSHA’s regulations. All equipment that is used on the job sites is either in new condition or is
    | properly maintained. Our company can provide services for both small scale or large scale jobs as
    | well as providing services in town or out of town.

  p
    | Showcase is licensed, fully insured, and provides Workman’s Compensation coverage for all employees.

  #module_container
    .module.module-left
      .inner-module
        h3
          | We offer FREE Estimates &#038; Consultations!

        p
          a(href='/contact-us/')
            | contact us today

    .module.module-right
      .inner-module
        h3
          | Monthly Special&#46;&#46;&#46;

        p
          strong
            | 10% OFF OUTSIDE LIGHTING

        p
          | Up to 12 Lights &#8211;
          br
          | Designed &#038; Installed.

  