extends ../mixins/_layout

block content
  h2
    | Let Us Make Your Property A "Showcase"

  p
    | Showcase Lawn Maintenance and Landscaping understands that the welcoming
    | environment of your property is felt long before the front door opens.  With over 20 years of experience, we are able to create and maintain the area&#8217;s most inviting and beautiful properties.

  p
    | The Showcase Team provides professional services in landscape design and installation, hardscapes, installation of outdoor living areas, low voltage lighting, grounds maintenance, irrigation, and grading.  We work with our clients to create an environment that meets their expectations and creates a beautiful curbside appearance.

  #module_container
    .module.module-left
      .inner-module#module-59
        h3
          | Project Gallery

        .ngg-albumoverview
          +ngg_album('Before and After Gallery', 'images/thumbs_10.jpg')
          +ngg_album('Showcase', 'images/thumbs_webgallery_6.jpg')
          +ngg_album('Showcase', 'images/webgallery_7.jpg')
          +ngg_album('Showcase', 'images/WebGallery_2.jpg')

    .module.module-right
      .inner-module#module-38
        h3
          | Monthly Special

        p
          strong
            | 10% Off Outside
            br
            | Ligiting

          p
            | Up to 12 Lights &#8211;
            br
            | Designed &#038; Installed.